
.DS_Store
Lab/.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/DS_Store
*/.idea
!InformeZipf.ipynb
/Lab/Lab2/__pycache__
/.vscode
/Lab/Lab2/.venv
novels/
arxiv_abs/
20_newsgroups/
Lab/.DS_Store
Lab/.DS_Store
